@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  color: #333; 
  overflow: hidden; 
}

body.city-bg-active {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #e0e7ef;
  position: relative;
}

body.city-bg-active::before {
  content: '';
  position: fixed;
  z-index: 0;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw; height: 100vh;
  pointer-events: none;
  background: rgba(255,255,255,0.4); 
  backdrop-filter: blur(5px);       
  -webkit-backdrop-filter: blur(32px);
}

.weather-app-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 5vh 30px; 
  min-height: 100vh; 
  width: 100%;
}

.weather-app {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

@media (max-width: 992px) {
  html, body {
    overflow: auto;
    height: auto;
  }
  .weather-app-wrapper {
    min-height: 0; 
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .weather-app-wrapper {
    padding: 20px;
  }
  
}

@media (max-width: 480px) {
  .weather-app-wrapper {
    padding: 15px;
  }
}

@media (max-width: 350px) {
  .weather-app-wrapper {
    padding: 10px;
  }
}
